<form class="form-group">
            
                <div class="row">
                <div class="col-md-2"> Title </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model=formModels.title>
            </div>
            </div>
            
                <div class="row">
                <div class="col-md-2"> Capacity </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.capacity">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2"> Description </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.description">
            </div>
            </div>
                
            <button class="btn btn-success" ng-click="add()"> ADD </button>
        </form> 