<form class="form-group">
                
                <div class="row">
                <div class="col-md-2"> Start Date </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model=formModels.startDate>
            </div>
            </div>
            
                <div class="row">
                <div class="col-md-2"> End Date </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.endDate">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2"> Start Time </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.startTime">
            </div>
            </div>
                
<!--
                <div class="row">
                <div class="col-md-2"> Class# </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.classid">
            </div>
            </div>        
-->
        <div class="row">
        <div class="col-md-2"> Class# </div>
        
            
            <select class="form-control" ng-options="item as item.title for item in classList track by item.classid" ng-model="formModels.classid">
            </select>
        </div>   
                <div class="row">
                <div class="col-md-2"> Teacher# </div>
            <select class="form-control" ng-options="item as item.title for item in classList track by item.classid" ng-model="formModels.classid">
            </select>
                
            </div>
                
                <div class="row">
                <div class="col-md-2"> Session Title </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model=formModels.sessionTitle>
            </div>
            </div>
                
            <button class="btn btn-success" ng-click="add()"> ADD </button>
        </form> 