<form class="form-group">
            
                <div class="row">
                <div class="col-md-2"> First Name </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.firstName">
            </div>
            </div>
            
                <div class="row">
                <div class="col-md-2"> Last Name </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.lastName">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2"> Address </div>
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.address">
            </div>
            </div>
                
                <div class="row">
                <div class="col-md-2"> Contact# </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.contactid">
            </div>
            </div>        
            
                <div class="row">
                <div class="col-md-2"> Email </div>
    
                <div class="col-md-3"> <input type="text" class="form-control" ng-model="formModels.email">
            </div>
            </div>
                
            <button class="btn btn-success" ng-click="add()"> ADD </button>
                    </form>